<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">La goûteuse d'Hitler de Rosella Postorino</h5>
          <p class="card-text">1943. Reclus dans son quartier général en Prusse orientale, terrorisé à l’idée que l’on attente à sa vie, Hitler a fait recruter des goûteuses...</p>
          <a href="#" class="btn btn-primary">Voir le partage</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Posté il y 3 min</small>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">L'enfant noir de Camara Laye</h5>
          <p class="card-text">L'Enfant noir nous restitue, dans toute sa vérité, la vie quotidienne, les traditions et les coutumes de tout un peuple. Un livre plein de finesse et de talent qui s'est imposé comme l'un des...</p>
          <a href="#" class="btn btn-primary">Voir le partage</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Posté il y 2 jours</small>
        </div>
      </div>
    </div>
  </div>
</div>
